<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="JWT_ACCESS_SECRET" value="" />
    <add key="JWT_REFRESH_SECRET" value="" />
    <add key="JWT_ACCESS_EXPIRES_IN" value="15" />
    <add key="JWT_REFRESH_EXPIRES_IN" value="10080" />
    <add key="GOOGLE_CLIENT_ID" value="" />
    <add key="GOOGLE_CLIENT_SECRET" value="" />
    <add key="GOOGLE_CALLBACK_URL" value="http://localhost:5000/auth/google/callback" />
    <add key="FRONTEND_URL" value="http://localhost:5173" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Host=localhost;Port=5432;Database=fpb_db;Username=fpb_user;Password=fpb_password"
         providerName="Npgsql" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="4096" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0"
           path="*." verb="*"
           type="System.Web.Handlers.TransferRequestHandler"
           preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
